<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- Kopieer en plak onderstaand lijntje om een tariefKnop bij te maken. 
         !!! de key moet het woord 'tarief' bevatten, anders wordt er geen knop van gemaakt !!!
         
         <add key="voorbeeldTarief" value="50,00"/>
    -->
    <add key="consultatieTarief" value="28,50"/>
    <add key="huisbezoekTarief" value="35,00"/>
    <add key="vriendenprijsjeTarief" value="70,00"/>
    <add key="vriendenprijsjeTarief2" value="90,00"/>
    <add key="xmlFilePath" value="" />
  </appSettings>
</configuration>